/* styles.css */

/* Estilos para el contenedor principal */
.ContainerPrincipal {
  height: 100vh;
  margin: 0 auto;
  background-color: #7CAAF6;
  padding: 20px;
  border-radius: 10px;
}

/* Estilos para el formulario de agregar tarea */
.CuadroAgregar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  width: 1000px;
  margin-top: 20px;
  width: 1000px;
  margin-top: 20px;


}

/* Estilos para el campo de fecha de vencimiento */
.datePickerContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* Alinear a la izquierda */
  margin-bottom: 10px;
}

.datePickerLabel {
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
  /* Color de texto */
}

/* Estilos para el campo de título de tarea */
.inputTitutoTarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Estilos para el campo de descripción de tarea */
.inputDescTarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 50%;
  height: 50px;
}

/* Estilos para el botón de agregar tarea */
.btnAgregarTarea {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  height: min-content;
}

/* Estilos para el campo de búsqueda de tareas */
.buscarTarea {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 20px;
  width: 30%;
}

/* Estilos para la lista de tareas */
.ulListaTareas {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Estilos para cada tarea */
.tareaListada {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  max-width: 300px;
  text-align: center;
  background-color: #F1CEFE;
}

.btnEliminarTarea {
  margin-top: 10px;
  background-color: #BD2323;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}


/* Estilos personalizados para react-datetime-picker */
.react-datetime-picker {
  width: 100%;
  /* Ajustar al 100% del ancho del contenedor */
}

/* Estilos personalizados para el contenedor del calendario emergente */
.react-datetime-picker__calendar {
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  /* Sombra */
  background-color: #fff;
}

/* Estilos personalizados para el botón de confirmación en el calendario emergente */
.react-datetime-picker__calendar-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 8px 12px;
  cursor: pointer;
  margin-top: 10px;
}

/* Estilos personalizados para la etiqueta de fecha */
.react-datetime-picker__inputGroup {
  margin-top: 5px;
  color: #333;
}

/* Estilos personalizados para la flecha del selector de hora */
.react-calendar__clock-btn {
  color: #007bff;
}

/* Estilos personalizados para el selector de hora */
.react-calendar__clock {
  background-color: #fff;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  text-align: left;
}

.modal-close-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}