.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .login-image {
    width: 200px; /* Ajusta el tamaño según tus necesidades */
    height: 200px; /* Ajusta el tamaño según tus necesidades */
    margin-bottom: 20px;
  }
  
  .login-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: green; 
    color: white; 
    border: none;
    border-radius: 4px; 
  }
  
  